@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
body {
    font-family: "Playfair+Display", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 233, 253);
    margin-bottom: 50px;
}
p{
    font-size: 20px;
    font-family: "Playfair+Display", sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(250, 169, 182);
    color: white;
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}
.logo-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 225px; /* Puedes ajustar el tamaño según sea necesario */
    height: auto;
    margin-right: 15px; /* Espacio entre el logo y el título */
    margin-bottom: 10px;
}

#inicio p {
    margin-top: 10px;
    line-height: 25px;
}

header h1 {
    font-size: 2rem; /* Ajuste del tamaño del título */
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    line-height: 35px;
    display: inline;
    margin: 15px 15px;
    font-size: 30px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

section {
    margin: 20px;
    padding: 20px;
}

h1, h2 {
    font-size: 35px;
    color: rgb(250, 169, 182);
    font-family: "Ojuju", sans-serif;
}

.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    align-content: center;
}

.producto {
    background-color: rgb(250, 169, 182);
    border: 1px solid rgb(250, 169, 182);
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: white;
    align-content: center;
}

.producto img {
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

form label {
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(250, 169, 182);
    background-color: #ffffff;
    outline: none;
}


form button {
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(250, 169, 182);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

form button:hover {
    background-color: rgb(250, 169, 182);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(250, 169, 182);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}